<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <h1>EJS PRACTICE PAGE</h1>
        <ul>
            <% for(let i=1;i<=5;i++) {%>
                <li>
                    <h1><%= i %></h1>
                </li>
            <% } %>    
        </ul>
    </body>
</html>